<div class="slide container container-divider">
  <img src="images/careers-ban-img.jpg" alt="" />
  <div class="caption" style="padding:0 0 0 0!important; top:45px;">
    <h1>careers</h1>
    <p style="text-transform: capitalize !important;">
      You are here :<a href="#" class="">Careers</a><br />
      <a href="index.php">Home</a>
    </p>
  </div>
</div>
<div class="container container-divider">
  <div class="left-panel">
    <p>
      We treat all employees as family members. The entire ENCO family believes
      that our strength lies in our family members. That is why we offer world
      class professional development opportunities to all team members. We
      provide you unparalleled challenges that you have never experienced before
      and give you opportunities to work with industry experts to fulfill your
      potential and build an excellent career. We expect to hire professionals
      who are interested in developing themselves over a lifetime with us. Read
      along to find out how.
    </p>
    <div class="divider1"></div>
    <a id="careers-training"></a>
    <h1>Training</h1>
    <p>
      From daily on the job training (OJT) to functional and management training
      from leading industry experts to sabbaticals for training we offer the
      best platform for you to develop yourself in all walks of life.<a
        href="#"
      ></a>
    </p>
    <div class="divider1"></div>
    <a id="careers-grooming"></a>
    <h1>Leadership Grooming</h1>
    <p>
      Our rotation policy helps you get exposed to various functions while never
      finding yourself without a challenge. We like to promote from within our
      family so expect to be given tasks that you have little or no exposure to
      and to get large responsibilities at a young age. We believe these
      measures will help you be industry leaders tomorrow. If you believe that
      you are ready for this challenge please write to us at: <a>hr@enco.in</a>
    </p>
    <div class="divider1"></div>
    <a id="careers-students"></a>
    <h1>University Students</h1>
    <p>
      Our graduate trainee program (GTP) has built a strong platform for many in
      the industry. It is a 2 year program with 6 month or yearly rotations
      through multiple functions. At the end of the program you get the
      opportunity to interview again with the teams you like the most. If you
      are a college student interested in this program please write to us at
      <a>hr@enco.in</a> with &ldquo;GTP:&rdquo; in the subject. Students with
      graduate, post graduate or doctorate degrees may apply.<a href="#"></a>
    </p>
    <div class="divider1"></div>
    <a id="careers-internships"></a>
    <h1>Internships</h1>
    <p>
      We offer a small number of internships to students looking to complete a
      professional project over the summer or a semester. If you are interested
      in doing an industrial project please email us at <a>hr@enco.in</a> along
      with a summary of the type of project you would like to do.
    </p>
    <p></p>
  </div>
</div>
