<div class="container con">
  <h1 class="fnt-raleway"><strong>Careers</strong></h1>
  <p class="fnt-lato">
    We treat all employees as family members. The entire ENCO family believes
    that our strength lies in our family members. That is why we offer world
    class professional development opportunities to all team members. We provide
    you unparalleled challenges that you have never experienced before and give
    you opportunities to work with industry experts to fulfill your potential
    and build an excellent career. We expect to hire professionals who are
    interested in developing themselves over a lifetime with us. Read along to
    find out how.
  </p>
  <hr />
  <h2 class="fnt-raleway">Training</h2>
  <p class="fnt-lato">
    From daily on the job training (OJT) to functional and management training
    from leading industry experts to sabbaticals for training we offer the best
    platform for you to develop yourself in all walks of life.<a href="#"></a>
  </p>
  <hr />
  <h2 class="fnt-raleway">Leadership Grooming</h2>
  <p class="fnt-lato">
    Our rotation policy helps you get exposed to various functions while never
    finding yourself without a challenge. We like to promote from within our
    family so expect to be given tasks that you have little or no exposure to
    and to get large responsibilities at a young age. We believe these measures
    will help you be industry leaders tomorrow. If you believe that you are
    ready for this challenge please write to us at: <a>hr@enco.in</a>
  </p>
  <hr />

  <h2 class="fnt-raleway">University Students</h2>
  <p class="fnt-lato">
    Our graduate trainee program (GTP) has built a strong platform for many in
    the industry. It is a 2 year program with 6 month or yearly rotations
    through multiple functions. At the end of the program you get the
    opportunity to interview again with the teams you like the most. If you are
    a college student interested in this program please write to us at
    <a>hr@enco.in</a> with &ldquo;GTP:&rdquo; in the subject. Students with
    graduate, post graduate or doctorate degrees may apply.<a href="#"></a>
  </p>
  <hr />

  <h2 class="fnt-raleway">Internships</h2>
  <p class="fnt-lato">
    We offer a small number of internships to students looking to complete a
    professional project over the summer or a semester. If you are interested in
    doing an industrial project please email us at <a>hr@enco.in</a> along with
    a summary of the type of project you would like to do.
  </p>
  <hr />
</div>
