<div class="container  con">
  <h2 class="fnt-raleway"><strong>University Students</strong></h2>
  <p class="fnt-lato">
    Our graduate trainee program (GTP) has built a strong platform for many in
    the industry. It is a 2 year program with 6 month or yearly rotations
    through multiple functions. At the end of the program you get the
    opportunity to interview again with the teams you like the most. If you are
    a college student interested in this program please write to us at
    hr@enco.in with “GTP:” in the subject. Students with graduate, post graduate
    or doctorate degrees may apply.
  </p>
  <hr />
</div>
