<div class="container con">
  <h2 class="fnt-raleway"><strong>Tubular Processing</strong></h2>
  <p class="fnt-lato">
    We have been manufacturing tubular parts with operations such as swaging,
    pipe cutting, chamfering, tubular bending, tubular welding, bushes from
    pipes as well as sheets, seam welded short tubes or bushes and many other
    parts since 1987. We are dealing with pipes with thickness from 1mm to 4mm
    and diameter of 20mm to 70mm. We are very interested in serving your tubular
    parts requirements today.
  </p>
  <hr />
</div>
