<div class="container con">
  <h1 class="fnt-raleway"><strong>technology</strong></h1>
  <p>
    Over the years we have worked to imbibe and develop new technology. So far
    we have only been able to scratch the surface in our endeavor to become an
    all round engineering company. We are able to deliver pressing, welding,
    surface coating and complete assemblies of various parts of your car.
  </p>
  <hr />

  <app-forging></app-forging>
  <!-- <h2><strong>High Precision 3D Machining</strong></h2>
  <p>
    Our own machining lines are able to produce most of the machining work
    including CNC vertical machining centers and wire cut operations for precise
    cuts. We also have excellent vendor relationships to load balance in case
    the schedule timeline bundles machining time into a very short window.
  </p>
  <hr /> -->
  <!-- <h2><strong>Mechanical Presses</strong></h2>
  <p>
    We use only the highest quality pneumatic clutch presses from reputed
    manufacturers globally. We only use new machines as in our experience these
    deliver the best performance for our customers. Currently we are able to
    offer pressing loads up 600 Tons.
  </p>
  <hr />
  <h2><strong>Hydraulic Pressing</strong></h2>
  <p>
    In some cases hydraulic pressing is required by customers for specialized
    parts. Our engineering teams will be happy to get involved to decide which
    products would be better manufactured with hydraulic lines.
  </p>
  <hr /> -->
  <app-uht-stamping></app-uht-stamping>
  <app-msr-welding></app-msr-welding>
  <!-- <h2><strong>Robotic Welding</strong></h2>
  <p>
    ENCO acquired the capability of robotic welding back in 1996. Since then we
    have executed many projects using the technology. Our engineering teams have
    been built even the supporting infrastructure right from the process
    definition to design to execution of the automated fixtures that have been
    used in these projects.
  </p>
  <hr />

  <h2><strong>MIG, Spot & Projection Welding</strong></h2>
  <p>
    MIG, spot and projection welding has been our forte since the day we started
    and today we are processing large volumes through our MIG, spot and
    projection welding lines with over 80 stations. We invite you to come and
    see our special purpose machines designed to improve quality and
    productivity for these processes.
  </p>
  <hr /> -->

  <!-- <h2><strong>ED Coating</strong></h2>
  <p>
    Our ED coating lines are fully automated requiring only a single operator
    per plant with no touch operations. The lines have been fully designed and
    manufactured through our engineering teams and we are working round the
    clock to improve our process so that you never have to worry about surface
    finish of your parts even years after they have been supplied.
  </p>
  <hr />

  <h2><strong>Powder coating</strong></h2>
  <p>
    Like our ED lines our powder coating and pre treatment lines are engineered
    and automated in house. We are able to deliver various types of powder
    coating.
  </p>
  <hr /> -->
  <app-aed-coating></app-aed-coating>
</div>
