<div class="container  con">
  <h1 class="fnt-raleway"><strong>Body In White System</strong></h1>
  <p>
    Body in white or BIW refers to the stage in automotive design or automobile
    manufacturing in which a car body's sheet metal components have been welded
    together. In our factory, the sheet metal undergoes several operations to
    become automotive body parts as well as chassis parts. Once all the sheet
    metal shaped and formed parts are integrated or welded which partially looks
    like a car body, which will be still not painted. Body in white is called
    because of the metallic appearance of the car body.
  </p>
  <hr />
</div>
