<mat-toolbar>
  <ng-container *ngFor="let header of headerElements; let ind = index">
    <button mat-button [matMenuTriggerFor]="header.subMenuRef">
      {{ header.title }}
    </button>
  </ng-container>
  <mat-menu #ABOUTUS="matMenu">
    <button *ngFor="let el of childElements.ABOUTUS" mat-menu-item>
      {{ el.title }}
    </button>
  </mat-menu>
  <mat-menu #BUSINESSPROFILE="matMenu"></mat-menu>
  <mat-menu #TECHNOLOGY="matMenu"></mat-menu>
  <mat-menu #CAREERS="matMenu"></mat-menu>
</mat-toolbar>
