<div class="container con">
  <h1 class="fnt-raleway"><strong>Suspensions</strong></h1>
  <p class="fnt-lato">
    Suspension is the system of tires, tire air, springs, shock absorbers and
    linkages that connects a vehicle to its wheels and allows relative motion
    between the two.Suspension systems must support both road holding/handling
    and ride quality, which are at odds with each other. The tuning of
    suspensions involves finding the right compromise. It is important for the
    suspension to keep the road wheel in contact with the road surface as much
    as possible, because all the road or ground forces acting on the vehicle do
    so through the contact patches of the tires. The suspension also protects
    the vehicle itself and any cargo or luggage from damage and wear. The design
    of front and rear suspension of a car may be different.
  </p>
</div>
