<div class="container con">
  <h1 class="fnt-raleway">
    <strong>{{ "Automotive Products" }}</strong>
  </h1>
  <p class="fnt-lato">
    Automotive products have been our mainstay for years. Our teams understand
    many of the automotive applications that we have serviced in the past and
    are keen to understand new avenues where our current or adjacent technology
    can be applied. We have never shied away from investing in new technology
    and are keen to do the same for you. We understand the critical products
    well and more than half of our products are safety related.
  </p>

  <h3 class="text-secondary">Part of the cars serviced today.</h3>
  <ul>
    <li class="fnt-lato">Body in white systems</li>
    <li class="fnt-lato">Chassis</li>
    <li class="fnt-lato">Robotics Automation</li>
    <li class="fnt-lato">Suspensions</li>
    <li class="fnt-lato">Tooling Fixtures</li>
  </ul>
</div>
