<div class="container con">
  <h1 class="fnt-raleway" style="font-weight: bold">
    <strong>INNOVATION</strong>
  </h1>
  <p class="fnt-lato">
    ENCO was among the first small companies in India to be ISO 9000 certified,
    to add robot technology, imbibe 3D design and machining technology. Today we
    supply products whose accuracy and consistency makes your drive home safer.
    We are very conscious of our environment and the health & safety of those
    living around us and thus we are ISO 14001 and OHSAS 18001 certified.
  </p>
  <hr />

  <h2 class="fnt-raleway" style="font-weight: bold">
    <strong>Research and development</strong>
  </h2>
  <p class="fnt-lato">
    From improving a process to eliminate human dependence to make a product
    safer to designing entire plants to improve the life of your car we invest
    in research and development to improve lives. It's our little way of betting
    on the future. Get in touch with us to find out how our labs can benefit
    you.
  </p>
  <hr />

  <h2 class="fnt-raleway" style="font-weight: bold">
    <strong>Low cost automation</strong>
  </h2>
  <p class="fnt-lato">
    We learn everyday about manufacturing process and try to improve upon it. In
    fact in today’s market scenario that is imperative for our survival. Talk to
    us about how we can improve your manufacturing process by improving your
    quality, reducing the manpower content and lastly improving your cost basis
    making you competitive.
  </p>
  <hr />

  <h2 class="fnt-raleway" style="font-weight: bold">
    <strong>Technology</strong>
  </h2>
  <p class="fnt-lato">
    Over the years we have worked to imbibe and develop new technology. So far
    we have only been able to scratch the surface in our endeavor to become an
    all round engineering company. We are able to deliver pressing, welding,
    surface coating and complete assemblies of various parts of your car.
    <span RouterLink="technology" class="text-danger">Read More</span>
  </p>
  <hr />
</div>
