<div class="container">
  <div class="home-panel" style="height: 1030px;">
    <div class="home-style1">
      <div class="main-home-image">
        <img src="images/newImages/Page-1-Image-1.png" style="height:300px" />
      </div>
      <h1 style="font-weight: bold">Introduction</h1>
      <p style="font-size:16px;">
        Enco Engineers Combine Pvt. Ltd. established in 1983 are leading
        manufacturers of high precision Sheet Metal Parts and Assemblies for
        Automobile, White Goods and Engineering Industries. ENCO is a leading
        sheet metal and suspension component supplier to to Maruti Suzuki.
      </p>
      <p style="font-size:16px;">
        Our manufacturing facilities are located in Gurgaon, Dharuhera and
        Chennai.
      </p>
      <div class="divider1"></div>
      <h1 style="font-weight: bold">Quality</h1>
      <ul class="buller1">
        <li>
          We were among the first SMEs in India to get ISO 9001 certification in
          1994. Our directors were awarded by prime minister Pamulaparti Venkata
          Narasimha Rao for this achievement.
        </li>
        <li>
          ISO/TS 16949: is a quality management system that applies to design,
          development, production, quality, continuous improvement and supply
          chain. We switched to ISO/TS 16949 in 2005 as the system was more
          applicable to our processes.
        </li>
        <li>
          OHSAS 18001: is a British government standard for occupational health
          and safety management systems. We have been OHSAS 18001 certified
          since 2012.
        </li>
        <li>
          ISO 14001: is a standard for reducing the negative environmental
          footprint of our operations. We have been ISO 14001 certified since
          2012.
        </li>
        <li>
          CMM for 3D measurement of Toolings, Fixtures, Receiving Gauges and
          Components
        </li>
        <li>
          Surface Plates, Measuring Instruments, Dial Gauges, Hardness Tester,
          Ericson Cup Tester etc.
        </li>
        <li>Quality assurance at all levels of operations.</li>
        <li>Striving to achieve TPM</li>
      </ul>
      <div class="divider1"></div>
      <h1 style="font-weight: bold">Engineering Capabilities</h1>
      <ul class="buller1">
        <li>CAD-CAM facility for tool design and manufacture</li>
        <li>Jig & Fixture design and Manufacture</li>
        <li>
          Mechanical and hydraulic pressing with load capacity upto 600 Tons
        </li>
        <li>
          Welding
          <ul>
            <li>
              Robotic Welding - we have been doing robotic welding since 1996
            </li>
            <li>
              Stationary Spot / Projection Welding equipped with electronic
              controllers with secondary feedback system.
            </li>
            <li>Spot Welding using overhead IT Gun</li>
            <li>ARC Welding</li>
          </ul>
        </li>
        <li>Tubular processing</li>
        <li>Cathodic eletrophoretic deposition (CED or ED) Coating</li>
        <li>Powder Coating Plants</li>
      </ul>
    </div>
    <div class="home-divider"></div>
    <div class="home-style2"></div>
  </div>
</div>
