<div class="container con">
  <h2 class="fnt-raleway"><strong>Robotic Welding</strong></h2>
  <p class="fnt-lato">
    ENCO acquired the capability of robotic welding back in 1996. Since then we
    have executed many projects using the technology. Our engineering teams have
    been built even the supporting infrastructure right from the process
    definition to design to execution of the automated fixtures that have been
    used in these projects.
  </p>
  <hr />

  <h2 class="fnt-raleway"><strong>MIG, Spot & Projection Welding</strong></h2>
  <p class="fnt-lato">
    MIG, spot and projection welding has been our forte since the day we started
    and today we are processing large volumes through our MIG, spot and
    projection welding lines with over 80 stations. We invite you to come and
    see our special purpose machines designed to improve quality and
    productivity for these processes.
  </p>
  <hr />
</div>
