<div class="container con">
  <h1 class="fnt-raleway">
    <strong>Computer Aided Engineering & Design</strong>
  </h1>
  <p class="fnt-lato">
    ENCO offers a variety of design services for many applications in the
    engineering space. Please call us or write to us about your design needs.
    Examples of our design work :
  </p>

  <hr />

  <h1 class="fnt-lato"><strong>Process Design</strong></h1>

  <ul>
    <li class="fnt-lato">
      <h4 class="fnt-raleway"><strong>Process flow design</strong></h4>
      <p>
        our teams have experience in this field for every automotive part that
        we produce today
      </p>
    </li>

    <li class="fnt-lato">
      <h4 class="fnt-raleway">
        <strong>Factory automation & special purpose machine design</strong>
      </h4>
      <p>
        we have delivered solutions for reducing variance in processes through
        elimination of human error and improvement of production speed.
      </p>
    </li>

    <li class="fnt-lato">
      <h4 class="fnt-raleway"><strong>Tool design</strong></h4>
      <p>
        for sheet metal, coated sheet, ductile and high tensile materials and
        other material applications. Our tools are engineered for long life,
        high accuracy, and adaptability.
      </p>
    </li>

    <li class="fnt-lato">
      <h4 class="fnt-raleway"><strong>Fixture design</strong></h4>
      <p>
        for MIG, spot, multi-spot, projection and other types of welding
        applications including the PLC controlled automation for enhanced
        productivity, better control and high precision applications
      </p>
    </li>

    <li class="fnt-lato">
      <h4 class="fnt-raleway"><strong>Robotics</strong></h4>
      <p>
        engineered for space efficient high productivity cells to work with
        fixtures, material flow and quality systems
      </p>
    </li>
  </ul>
</div>
