<div class="container con">
  <h2 class="fnt-raleway"><strong>Mechanical Presses</strong></h2>
  <p class="fnt-lato">
    We use only the highest quality pneumatic clutch presses from reputed
    manufacturers globally. We only use new machines as in our experience these
    deliver the best performance for our customers. Currently we are able to
    offer pressing loads up 600 Tons.
  </p>
  <hr />
  <h2 class="fnt-raleway"><strong>Hydraulic Pressing</strong></h2>
  <p class="fnt-lato">
    In some cases hydraulic pressing is required by customers for specialized
    parts. Our engineering teams will be happy to get involved to decide which
    products would be better manufactured with hydraulic lines.
  </p>
  <hr />
</div>
