<div class="container con">
  <h2 class="fnt-raleway">
    <strong>Robotic Automation & Special Purpose Machines</strong>
  </h2>

  <p class="fnt-lato">
    We are happy to deliver SPMs with a product line to improve your line
    efficiency and quality. As the name suggests these are products that are
    100% customized for the application and usually only useful for the lifetime
    of the product being manufactured. We recommend these only for high volume
    long lasting products or where the machine can be designed to be adaptable
    to other products as well. Talk to us about how we can help you make your
    lines highly productive with extremely low rejections.
  </p>
</div>
