<div class="container con">
  <h2 class="fnt-raleway"><strong>ED Coating</strong></h2>
  <p class="fnt-lato">
    Usually used today for parts exposed to tough conditions making sure long
    surface life and finish for automobile bodies and parts, tractors and heavy
    equipment, electrical switch gear, appliances, metal furniture, beverage
    containers, fasteners, and other industrial products. Our self engineered ED
    coating process is fully automated no touch process that ensures excellent
    quality. Coating thickness is very consistent and thus ED coating is
    currently our surface treatment of choice for most products. We would love
    to hear from you about your requirement and promise to partake in
    engineering discussions to find the best solution.
  </p>
  <h2 class="fnt-raleway"><strong>Powder Coating</strong></h2>
  <p class="fnt-lato">
    Powder coating is an older technology and used only in lower salt spray
    conditions. As of now we recommend customers to go for ED coating for most
    products – however if you have a specific application that requires powder
    coating technology we would be happy to provide the service.
  </p>
</div>
