@import "../node_modules/@angular/material/theming";

@include mat-core();

$enco-primary: mat-palette($mat-red, 800, 700, 900);
$enco-accent: mat-palette($mat-pink, A200, A100, A400);
$enco-danger: mat-palette($mat-red);

$enco-theme: mat-light-theme($enco-primary, $enco-accent, $enco-danger);

@include angular-material-theme($enco-theme);
