<section class="section-padding pad-top-20 darker-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
        <div class="intro-title text-center">
          <h2 class="fnt-raleway">
            Welcome to <span class="enco-color">ENCO</span> Engineers Combine
          </h2>
          <div class="hidden-xs">
            <p class="fnt-lato">
              We are committed to delivering immense value consistently over
              long periods of time for our customers through high quality
              products and services with continuous improvement in quality,
              technology and productivity.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single intro -->
      <div class="col-md-4">
        <div class="single-intro">
          <div class="intro-img intro-bg2"></div>
          <div class="intro-details text-center">
            <h3>Business Profile</h3>
            <p>
              Seamlessly envisioneer extensive interfaces and back
              wardcompatible applications. Proactively promote timely best.
            </p>
          </div>
        </div>
      </div>
      <!-- single intro -->
      <div class="col-md-4">
        <div class="single-intro">
          <div class="intro-img intro-bg3"></div>
          <div class="intro-details text-center">
            <h3>Technology</h3>
            <p>
              Over the years we have worked to imbibe and develop new
              technology. So far we have only been able to scratch the surface
              in our endeavor to become an all round engineering company.
            </p>
          </div>
        </div>
      </div>
      <!-- single intro -->
      <div class="col-md-4">
        <div class="single-intro">
          <div class="intro-img intro-bg1"></div>
          <div class="intro-details text-center">
            <h3>Products & Services</h3>
            <p>
              Enco Engineers Combine Pvt. Ltd. established in 1983 are leading
              manufacturers of high precision Sheet Metal Parts and Assemblies
              for Automobile.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- intro area end -->

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="block-text">
          <h2 class="fnt-raleway">
            An Automobile Industry who are Passionate about Technology
          </h2>
          <p class="fnt-lato">
            ENCO is an R&D led innovative world class automotive products and
            services provider. Founded in 1983, the company has a product
            portfolio spanning car body structures, suspensions, chassis,
            brakes, engine mounting systems, and anti-vibration systems.
          </p>

          <p class="fnt-lato">
            The R&D, new product development and partnerships teams at ENCO are
            continually striving to expand the product offerings to all our
            customers and potentail customers alike. We are looking forward to
            doing business with you.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-img">
          <img src="assets/img/homepageblock.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- block area end -->

<section class="section-padding darker-bg">
  <!--  -->
</section>
<!-- end services section -->

<section class="client-logo">
  <h2 class="text-center">Our Clients</h2>
  <div class="container pad-top-20">
    <div class="row">
      <div class="col-md-12">
        <div class="all-client-logo">
          <a *ngFor="let image of customerImageArray; let i = index" href="#"
            ><img [src]="customerImageArray[i]" alt=""
          /></a>
        </div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- end client section -->
