<div class="container con">
  <h1>Introduction</h1>
  <p class="fnt-lato">
    Enco Engineers Combine Pvt. Ltd. established in 1983 are leading
    manufacturers of high precision Sheet Metal Parts and Assemblies for
    Automobile, White Goods and Engineering Industries. ENCO is a leading sheet
    metal and suspension component supplier to to Maruti Suzuki.
  </p>
  <div class="container">
    <h1 class="fnt-raleway"><strong>Certifications</strong></h1>
    <hr />
    <div class="row">
      <div
        style="display:inline-block"
        class="col-3 col-md-3 order-2 order-md-3"
      >
        <img [src]="imageArray[1]" />
      </div>
      <div style="display:inline-block" class="col-3 col-md-3 order-3">
        <img [src]="imageArray[2]" />
      </div>
    </div>
  </div>
</div>
